@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body{
  background-color: #E1E1E1;
}

.g-wallpaper{
  background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    #E1E1E1
  ),
  url(./images/papers.png);
  min-height: 60vh;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: stretch;

}

.wallpaper{
  background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    #E1E1E1
  ),
  url(./images/papers.png);
  min-height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  text-shadow: 1px 1px #44393183;
  display: flex;
  flex-direction: column;
  justify-content: stretch;

}

.img-effict{
  filter: grayscale(60%);
}

.pointer{
  cursor: pointer;
}

.first-color{
  color: #d3a65a;
}

.sec-color{
  color: #2D2422;
}

.third-color{
  color: #9b1e1eed;
}