.footer-basic {
    padding:10px 0;
    color:#2D2422;
    background: linear-gradient(#e1e1e196 99%, #00000042 10% );
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:18px;
    line-height:1.6;
    margin-bottom:0;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
  color: #D3A65A;
  }
  
  .footer-basic .social {
    text-align:center;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:40px;
    height:40px;
    line-height:40px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #E1E1E1;
    margin:0 8px;
    color:inherit;
  }
  
  .footer-basic .social > a:hover {
    color: #D3A65A;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    font-weight: bolder;
    color:#D3A65A;
    margin-bottom:0;
  }